name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:

  build:
    name: Build
    strategy:
      matrix:
        go-version: [1.16.x]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code onto GOPATH
      uses: actions/checkout@v2

    - name: Vet
      run: go vet ./...

    - name: Build
      run: go build -v ./...
